@import "../../../assets/SCSS/mixins/breakpoints";

.display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 50%) 0 0 5px 0px;
    padding: 1rem;
    box-sizing: border-box;

    &__item{
        flex: 0 1 100%;
        text-align: center;
        position: relative;

        @include breakpoint(tablet) {
            flex: 0 1 25%;
            text-align: left;

            &:not(:last-child):after {
                content: '';
                display: block;
                height: 50%;
                width: 1px;
                border-right: 1px solid #ccc;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__label {
        text-transform: uppercase;
        font-size: .6rem;
        color: #aaa;
        margin: .5rem;

        @include breakpoint(tablet) {
            margin: 1rem;
        }
    }

    &__text {
        font-weight: bold;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: .5rem;

        @include breakpoint(tablet) {
            margin: 1rem;
        }
    }
}