@import "../assets/SCSS/mixins/breakpoints";

.ip-tracker {
    &__header {
        background-image: url('/assets/img/pattern-bg.png');
        background-size: cover;
        background-position: center center;
        padding: 2rem;
        max-height: 175px;
        overflow: visible;
        position: relative;
        z-index: 401;
    }

    &__container {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-align: center;
        margin-top: 0;
    }
}